In [1]:
import numpy as np
import pandas as pd
from ph_likes.util import queries

/home/can/anaconda3/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [2]:
x = np.full((766682, 63274), False, dtype=np.bool)

In [3]:
x = None

In [2]:
# df_user = queries.get_phuser_table()
# df_post = queries.get_post_table()
df_postlike = queries.get_postlike_table()

In [3]:
df_postlike

                id  post_id  user_id
0                1        1        1
1                2        1        2
2                3        1        3
3                4        1        4
4                5        1        5
5                6        1        6
6                7        1        7
7                8        1        8
8                9        1        9
9               10        1       10
10              11        1       11
11              12        1       12
12              13        1       13
13              14        1       14
14              15        1       15
15              16        1       16
16              17        1       17
17              18        1       18
18              19        1       19
19              20        1       20
20              21        1       21
21              22        1       22
22              23        1       23
23              24        1       24
24              25        1       25
25              26        1       26
26              27        1       27
27              28        1       28
28              29        1       29
29              30        1       30
...            ...      ...      ...
10581754  11224264    63400     1934
10581755  11225703    63396     1730
10581756  11225704    63396   767288
10581757  11225759    63395    21128
10581758  11225926    63394    21128
10581759  11225927    63394     7062
10581760  11225928    63394     1711
10581761  11225929    63394   767280
10581762  11225930    63394    62943
10581763  11225989    63391    21007
10581764  11226290    63390   767297
10581765  11226291    63390    11962
10581766  11226874    63388    12276
10581767  11227839    63372     8999
10581768  11229236    63368    35187
10581769  11229314    63367   767302
10581770  11230103    63361    11503
10581771  11230611    63360    10205
10581772  11231679    63357     1730
10581773  11232153    63356     1730
10581774  11232154    63356    21007
10581775  11232917    63354    30685
10581776  11235556    63343    21007
10581777  11236246    63335    48833
10581778  11236737    63332    21007
10581779  11237958    63327     8608
10581780  11238943    63324    21007
10581781  11239537    63323    21007
10581782  11240714    63319    26807
10581783  11250276    63262   767303

[10581784 rows x 3 columns]

In [4]:
df_postlike['rating'] = True

In [10]:
df_postlike_ = df_postlike.sample(n=1000000)

In [ ]:
%%time
df_cf = df_postlike_.pivot_table(index='user_id', columns='post_id', values='rating', fill_value=False)

In [ ]:
df_cf